@import url(fontawesome-all.min.css);

/* Merch */

h2 {
    color: white;
    font-family:'Nunito', sans-serif; ;
  }
  .merch:hover .image{
    opacity: 0.1;
  }
  
  .merch:hover {
    background-color: #0f0f0a;
  }
  
  #main2 {
    -moz-transition: -moz-filter 0.5s ease, -webkit-filter 0.5s ease, -ms-filter 0.5s ease, -moz-filter 0.5s ease;
    -webkit-transition: -moz-filter 0.5s ease, -webkit-filter 0.5s ease, -ms-filter 0.5s ease, -webkit-filter 0.5s ease;
    -ms-transition: -moz-filter 0.5s ease, -webkit-filter 0.5s ease, -ms-filter 0.5s ease, -ms-filter 0.5s ease;
    transition: -moz-filter 0.5s ease, -webkit-filter 0.5s ease, -ms-filter 0.5s ease, filter 0.5s ease;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  }
  
    #main2 .merch {
      -moz-transition: opacity 1.25s ease-in-out;
      -webkit-transition: opacity 1.25s ease-in-out;
      -ms-transition: opacity 1.25s ease-in-out;
      transition: opacity 1.25s ease-in-out;
      pointer-events: auto;
      -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
      opacity: 1;
      overflow: hidden;
      position: relative;
    }
  
      #main2 .merch:after {
        background-image: -moz-linear-gradient(to top, rgba(10,17,25,0.35) 5%, rgba(10,17,25,0) 35%);
        background-image: -webkit-linear-gradient(to top, rgba(10,17,25,0.35) 5%, rgba(10,17,25,0) 35%);
        background-image: -ms-linear-gradient(to top, rgba(10,17,25,0.35) 5%, rgba(10,17,25,0) 35%);
        background-image: linear-gradient(to top, rgba(10,17,25,0.35) 5%, rgba(10,17,25,0) 35%);
        pointer-events: none;
        background-size: cover;
        content: '';
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        border-top: 20px solid white;
        border-left: 18px solid white;
        border-bottom: 20px solid white;
        border-right: 18px solid white;
      }
  
      #main2 .merch > .image {
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border: 6px solid white;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
  
    #main2:after {
      pointer-events: none;
      -moz-transition: opacity 0.5s ease, visibility 0.5s;
      -webkit-transition: opacity 0.5s ease, visibility 0.5s;
      -ms-transition: opacity 0.5s ease, visibility 0.5s;
      transition: opacity 0.5s ease, visibility 0.5s;
      background: rgba(36, 38, 41, 0.25);
      content: '';
      display: block;
      height: 100%;
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      visibility: hidden;
      width: 100%;
      z-index: 1;
      border: 5px solid white;
    }
  
      body.ie #main2:after {
        background: rgba(36, 38, 41, 0.55);
      }
  
    body.content-active #main2 {
      -moz-filter: blur(6px);
      -webkit-filter: blur(6px);
      -ms-filter: blur(6px);
      filter: blur(6px);
    }
  
      body.content-active #main2:after {
        pointer-events: auto;
        opacity: 1;
        visibility: visible;
      }
  
    body.is-preload #main2 .merch {
      pointer-events: none;
      opacity: 0;
    }
  
    #main2 .merch {
      -moz-transition-delay: 2.525s;
      -webkit-transition-delay: 2.525s;
      -ms-transition-delay: 2.525s;
      transition-delay: 2.525s;
      height: calc(40vh - 2em);
      min-height: 20em;
      width: 25%;
    }
  
      #main2 .merch:nth-child(1) {
        -moz-transition-delay: 0.65s;
        -webkit-transition-delay: 0.65s;
        -ms-transition-delay: 0.65s;
        transition-delay: 0.65s;
      }
  
      #main2 .merch:nth-child(2) {
        -moz-transition-delay: 0.8s;
        -webkit-transition-delay: 0.8s;
        -ms-transition-delay: 0.8s;
        transition-delay: 0.8s;
      }
  
      #main2 .merch:nth-child(3) {
        -moz-transition-delay: 0.95s;
        -webkit-transition-delay: 0.95s;
        -ms-transition-delay: 0.95s;
        transition-delay: 0.95s;
      }
  
    @media screen and (max-width: 1680px) {
  
      #main2 .merch {
        -moz-transition-delay: 2.075s;
        -webkit-transition-delay: 2.075s;
        -ms-transition-delay: 2.075s;
        transition-delay: 2.075s;
        height: calc(40vh - 2em);
        min-height: 20em;
        width: 33.33333%;
      }
  
        #main2 .merch:nth-child(1) {
          -moz-transition-delay: 0.65s;
          -webkit-transition-delay: 0.65s;
          -ms-transition-delay: 0.65s;
          transition-delay: 0.65s;
        }
  
        #main2 .merch:nth-child(2) {
          -moz-transition-delay: 0.8s;
          -webkit-transition-delay: 0.8s;
          -ms-transition-delay: 0.8s;
          transition-delay: 0.8s;
        }
  
        #main2 .merch:nth-child(3) {
          -moz-transition-delay: 0.95s;
          -webkit-transition-delay: 0.95s;
          -ms-transition-delay: 0.95s;
          transition-delay: 0.95s;
        }
  
    }
  
    @media screen and (max-width: 1280px) {
  
      #main2 .merch {
        -moz-transition-delay: 1.625s;
        -webkit-transition-delay: 1.625s;
        -ms-transition-delay: 1.625s;
        transition-delay: 1.625s;
        height: calc(40vh - 2em);
        min-height: 20em;
        width: 50%;
      }
  
        #main2 .merch:nth-child(1) {
          -moz-transition-delay: 0.65s;
          -webkit-transition-delay: 0.65s;
          -ms-transition-delay: 0.65s;
          transition-delay: 0.65s;
        }
  
        #main2 .merch:nth-child(2) {
          -moz-transition-delay: 0.8s;
          -webkit-transition-delay: 0.8s;
          -ms-transition-delay: 0.8s;
          transition-delay: 0.8s;
        }
  
        #main2 .merch:nth-child(3) {
          -moz-transition-delay: 0.95s;
          -webkit-transition-delay: 0.95s;
          -ms-transition-delay: 0.95s;
          transition-delay: 0.95s;
        }
  
    }
  
    @media screen and (max-width: 980px) {
  
      #main2 .merch {
        -moz-transition-delay: 2.075s;
        -webkit-transition-delay: 2.075s;
        -ms-transition-delay: 2.075s;
        transition-delay: 2.075s;
        height: calc(28.57143vh - 1.33333em);
        min-height: 18em;
        width: 50%;
      }
  
        #main2 .merch:nth-child(1) {
          -moz-transition-delay: 0.65s;
          -webkit-transition-delay: 0.65s;
          -ms-transition-delay: 0.65s;
          transition-delay: 0.65s;
        }
  
        #main2 .merch:nth-child(2) {
          -moz-transition-delay: 0.8s;
          -webkit-transition-delay: 0.8s;
          -ms-transition-delay: 0.8s;
          transition-delay: 0.8s;
        }
  
        #main2 .merch:nth-child(3) {
          -moz-transition-delay: 0.95s;
          -webkit-transition-delay: 0.95s;
          -ms-transition-delay: 0.95s;
          transition-delay: 0.95s;
        }
  
    }
  
    @media screen and (max-width: 480px) {
  
      #main2 .merch {
        -moz-transition-delay: 1.175s;
        -webkit-transition-delay: 1.175s;
        -ms-transition-delay: 1.175s;
        transition-delay: 1.175s;
        height: calc(40vh - 2em);
        min-height: 18em;
        width: 100%;
      }
  
        #main2 .merch:nth-child(1) {
          -moz-transition-delay: 0.65s;
          -webkit-transition-delay: 0.65s;
          -ms-transition-delay: 0.65s;
          transition-delay: 0.65s;
        }
  
        #main2 .merch:nth-child(2) {
          -moz-transition-delay: 0.8s;
          -webkit-transition-delay: 0.8s;
          -ms-transition-delay: 0.8s;
          transition-delay: 0.8s;
        }
  
        #main2 .merch:nth-child(3) {
          -moz-transition-delay: 0.95s;
          -webkit-transition-delay: 0.95s;
          -ms-transition-delay: 0.95s;
          transition-delay: 0.95s;
        }
  
      }